#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editorField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.response {
  text-align: start;
}

.response span {
  padding-right: 1rem;
  word-break: normal;
}
